@use "src/styles/libs" as *;

.post_wrapper {
  ol li {
    list-style: decimal;
  }

  ul li {
    list-style: disc;
  }

  pre {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  img {
    border: 0.1px solid gray;
  }

  section {
    margin: 50px 16px;
  }
  @include markdown-body;
}

.post_wrapper-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}
