@use "src/styles/libs" as *;

.headingIndexNav {
  display: none;

  @include desktop_screen {
    position: sticky;
    top: 100px;
    display: block;
    width: 300px;
    height: fit-content;
    margin-inline: 30px;
  }
}
