@use "src/styles/libs" as *;

.heading {
  position: relative;
  width: fit-content;
  cursor: pointer;
  .link_copy_btn {
    position: absolute;
    right: -35px;
    bottom: 5px;
    padding: 0 10px;
    margin: 0;
    @include desktop_screen {
      right: -50px;
      bottom: 10px;
    }
    &_wrapper {
      width: 20px;
      height: 20px;
      @include desktop_screen {
        width: 30px;
        height: 30px;
      }
    }
  }

  .anchor {
    &:target::before {
      display: block;
      height: 86px; /* 헤더의 높이와 동일 */
      margin-top: -86px; /* 음수 마진으로 헤더 높이만큼 오프셋 조정 */
      visibility: hidden;
      content: "";
    }
  }
}
