@import "@/styles/libs/palette";
@import "@/styles/libs/vars";

.preview {
  height: 100%;
  min-height: 500px;
  overflow-y: auto;
  padding: 24px;
  border: 1px solid $GRAY-300;
  border-radius: 8px;
  background-color: $WHITE;

  // Scrollbar styling
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $GRAY-100;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $GRAY-400;
    border-radius: 4px;

    &:hover {
      background: $GRAY-500;
    }
  }
}
