@use "src/styles/libs" as *;

.sidebar_wrapper {
  width: fit-content;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: white;
  padding: 20px 30px;
  height: 100%;
  border-left: 1px gray solid;
  transition: all 0.5s linear;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  .sidebar {
    margin-top: 80px;
  }
  &_on {
    right: 0px;
  }

  &_off {
    right: -$SIDEBAR_OPENED;
  }
}

.other_links {
  display: flex;
  flex-direction: column;
}

.mobile_sidebar_btn {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
}
