@use "src/styles/libs" as *;
.heading_1 {
  margin-bottom: 30px;
  font-size: $LARGE3X;
  text-align: center;
  @include desktop_screen {
    font-size: $LARGE6X;
  }
  @include priority-background-layer;
  position: sticky;
  backdrop-filter: blur(10px);
  padding: 10px;
  top: 0;

  br {
    @include desktop_screen {
      display: none;
    }
  }
}

.heading_2 {
  text-align: center;
}
