@use "src/styles/libs" as *;

.heading {
  position: relative;
  width: fit-content;
  cursor: pointer;

  .linkCopyBtn {
    position: absolute;
    right: -35px;
    bottom: 5px;
    padding: 0 10px;
    margin: 0;

    @include desktop_screen {
      right: -50px;
      bottom: 10px;
    }

    &Wrapper {
      width: 20px;
      height: 20px;

      @include desktop_screen {
        width: 30px;
        height: 30px;
      }
    }
  }

  .anchor {
    scroll-margin-top: $HEADER_HEIGHT;
  }
}
